.place__card {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: fit-content(152px) 1fr;
  grid-template-areas:
      "title url"
      "image text";
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place__card:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place__card {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}
