.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    padding-left: 16px;
  }
}
